html, body {
  height: 100%;
  margin: 50px;
  padding: 0px;
  font-family: Raleway;
}
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: black solid 1px;
  z-index: 1;
}

h1 {
    padding: 20px 20px 20px 20px;
  }

h2 {
    padding: 20px 20px 20px 0px;
  }
p {
  font-family: Raleway;
	line-height: 1.5em;
	padding: 0px 0px 10px 0px;
}

/* ---------------------------- */
/* ----- Waypoint table ------- */
/* ---------------------------- */
#waypoint-table  .even {
    background-color: #ddffff;
  }
#waypoint-table  .odd {
    background-color: #ffffdd;
  }
#waypoint-table td {
    padding: 1px 5px 1px 5px;
  }

/* ---------------------------- */
/* ----- Nav bar styling ------ */
/* ---------------------------- */
#navbar {
	margin: 5px 10px 10px 0px;
	padding:  10px 10px 10px 0px;
	height: 1em;
}
#navbar li {
	list-style: none;
	float: left;
}
#navbar li a {
	display: block;
	padding: 5px 20px;
	background-color: #5e8ce9;
	color: #fff;
	text-decoration: none;
}
#navbar li ul {
	display: none;
	width: 10em; /* Width to help Opera out */
	background-color: #69f;
}
#navbar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 100;
}
#navbar li:hover li {
	float: none;
}
#navbar li:hover li a {
	background-color: #69f;
	border-bottom: 1px solid #fff;
	color: #000;
}
#navbar li li a:hover {
	background-color: #8db3ff;
}
#navbar li a:hover {
	background-color: #8db3ff;
}

/* ---------------------------- */
/* ---- Footer styling -------- */
/* ---------------------------- */
.footer {
  font-size: 0.8em;
  padding: 20px 0px 0px 0px;
}

/* index page image slide show */
.dots {
  width: 750px;
	text-align: center;
}
.slideshowimages {
  width: 750px;
  min-height: 422px;
/*
	border: 1px solid black;
 */
}

/* ---------------------------- */
/* index page image text blocks */
/* ---------------------------- */
.index_text_blocks {
}
.index_text_block {
  float: left;
	border: 1px solid blue;
	width: 325px;
	height: 600px;
	font-size: 0.8em;
	margin: 2px 2px 2px 2px;
	padding: 20px 20px 20px 20px;
	line-height: 1.5em;
}
.index_text_block h3 {
  padding: 15px 0px 15px 0px;
  text-align: center;
}
h3 {
  padding: 5px 0px 15px 0px;
}
h4 {
  padding: 5px 0px 5px 0px;
}

/* ---------------------------- */
/* --------- Vision ----------- */
/* ---------------------------- */
.vision_text_block {
	border: 1px solid blue;
	width: 750px;
	padding: 10px 20px 20px 20px;
	margin: 2px 2px 2px 2px;
	line-height: 1.5em;
	font-size: 0.8em;
}
.vision_text_block h3 {
  padding: 15px 0px 15px 0px;
}
.vision_photo_block {
  float: left;
  width: 250px;
  padding: 20px 15px 20px 15px;
  text-align: center;
}

/* ---------------------------- */
/* --------- Logistics -------- */
/* ---------------------------- */
.logistics_photo_block {
  float: left;
  width: 160px;
  padding: 20px 15px 20px 15px;
  text-align: center;
}
.logistics_inset_text {
  float: left;
  width: 325px;
  font-size: 0.9em;
  padding: 5px 5px 5px 5px;
}

/* ---------------------------- */
/* --------- Region/Route -------- */
/* ---------------------------- */
.half_width_photo {
  float: left;
  width: 325px;
  padding: 20px 15px 20px 15px;
  text-align: center;
}
.half_width_text {
  float: left;
  width: 325px;
  font-size: 0.9em;
  padding: 5px 5px 5px 5px;
}
